<header class="main-header" role="banner">
	<div class="container">
		{{ page.header }}
	</div>
</header>

<div class="main-navigation">
	<div class="navLeft">
		<img class="navLogo" src="/themes/custom/calibrate/images/dummy-logo.png" alt="">
	</div>

	<div class="navRight">
		{{ page.main_navigation }}
	</div>
</div>

<div class="container">

	{% if page.sidebar %}
		<aside class="layout-sidebar-first" role="complementary">
			{{ page.sidebar }}
		</aside>
	{% endif %}

	<main role="main">
		<a id="main-content" tabindex="-1"></a>
		{# link is in html.html.twig #}

		<div class="main-content-front">
			{{ page.content }}
			<div class="latest-things">
				{% if page.content2 %}
					{{ page.content2 }}
				{% endif %}
				{% if page.content3 %}
					{{ page.content3 }}
				{% endif %}
			</div>

		</div>
		{# /.layout-content #}


	</main>

	{% if page.footer %}
		<footer role="contentinfo">
			{{ page.footer }}
		</footer>
	{% endif %}

</div>
{# /.layout-container #}
